{% extends "base.html.twig" %}

{% block body %}
  <div class="p-5">
  {{form_start(form)}}
      <div class="form-group">
        {{form_label(form.title)}}
        {{form_widget(form.title, {'attr': {
          'class': 'form-control' }})}}
        {{form_widget(form.image, {'attr': {
          'class': 'form-control' }})}}
        {{form_errors(form.image)}}
        <div class="p-5">
        {{form_widget(form.save, {'attr': {
          'class': 'form-control btn btn-primary', 'label': 'Uložit' }})}}
        </div>
    </div>
    {{form_end(form)}}
  </div>
{% endblock %}